.home{
  &__slider{
    &__overlay{
      background: rgba(0,0,0,.45);
    }
    &__title{
      line-height: (44/34);
      @extend .fz-34;
      color: $color2 !important;
      margin-bottom: 5px !important;
      font-family: $font-Roboto-Black;
    }
    &__desc{
      color: $color2;
      @extend .fz-27;
      line-height: (33/27);
      margin-bottom: 25px !important;
      font-family: $font-Roboto-Medium;
    }
    &__btn{
      @extend .fz-16;
      font-family: $font-Roboto-Medium;
      background: $color1 !important;
      color: $color2 !important;
      transition: all 0.5s;
      border-radius: 3px;
      border: 2px solid $color2;
      animation: pulsems 2s infinite 3s cubic-bezier(.25,0,0,1);
      box-shadow: 0 0 0 0 $color2;
    }
  }
  &__block01{
    &__card1{
      padding: 8px;
    }
    &__card2{
      border: 8px double #D2B465;
      &__title{
        @extend .fz-26;
        color: $color2 !important;
        font-family: $font-Roboto-Black;
        line-height: (36.4/26);
        &--c1{
          @extend .fz-24;
        }
      }

    }
  }
  &__blockTongquan{
    &__card{
      background: #2C3A2DAD;
      &__desc{
        @extend .fz-19;
        font-family: $font-Roboto-Black;
        color: #ffffff !important;
      }
      &__list{
        >li{
          background: url(images/dot.png);
          background-repeat: no-repeat;
          background-position: 0 3px;
          padding-left: 25px;
          @extend .fz-15;
          color: #000;
          .uk-light &{
            color: #ffffff !important;
          }
          span{
            font-family: $font-Roboto-Black;
          }
        }
      }
    }
  }
  &__blockVitri{
    &__desc{
      @extend .fz-15;
      color: #000;
      line-height: 1.5;
      span{
        font-family: $font-Roboto-Bold;
      }
    }
    &__btn{
      background: $color3;
      animation: wigglems 4s 2s infinite;
      @extend .fz-15;
      font-family: $font-Roboto-Bold;
    }
  }
  &__blockTienich{
    &__desc{
      @extend .fz-15;
      color: #ffffff;
      line-height: 1.5;
      span{
        color: $color4;
      }
    }
  }
  &__blockMatbang{
    &__desc{
      color: #000;
      font-family: $font-Roboto-Bold;
      @extend .fz-15;
      line-height: 1.5;
    }
  }
  &__blockThietke{
    &__desc{
      color: #000;
      @extend .fz-15;
      line-height: 1.5;
    }
    &__card{
      &__header{
        padding-top: 10px;
        &__tab{
          >li{
            >a{
              color: #ffffff !important;
              @extend .fz-15;
              font-family: $font-Roboto-Bold;
              padding: 10px 10px;
            }
            &.uk-active{
              >a{
                background: #ffffff !important;
                color: #2d2d2d !important;
              }
            }
          }
        }
      }
    }
  }
  &__blockDangky{
    $x: 41px;
    &__input{
      @extend .fz-15;
      &.uk-form-large{
        height: #{$x} !important;
      }
    }
    &__btn{
      background: $color2;
      &.uk-button-large{
        line-height: calc(#{$x} - 2px) !important;
      }
    }
  }
}