.header{
  box-shadow: 1px 1px 10px rgba(0,0,0,.15);
  &__logo{
    img{
      height: 60px;
    }
  }
  .uk-navbar-nav{
    >li{
      &.uk-active{
        >a{
          color: $color2;
        }
      }
      >a{
        &:hover{
          color: $color2;
        }
        color: #ffffff;
        @extend .fz-15;
        font-family: $font-Roboto-Bold;
      }
    }
  }
}