.modal{
  &__dialog{
    width: 456px;
    border-radius: 5px;
    border: 1px none #000;
    box-shadow: 0 10px 25px 4px rgba(2,2,2,.5);
    background-color: rgba(44,58,45,1);
  }
  &__title{
    text-align: center;
    @extend .fz-19;
    color: #ffffff;
    font-family: $font-Roboto-Bold;
  }
  &__desc{
    @extend .fz-16;
    line-height: (26/16);
    color: #ffffff;
  }
}